#admin-panel {
    margin: 0 auto;
    width: 100%;
    height: calc(100% - 72px);
}

.admin-content {
    float: left;
    width: calc(100% - 300px);
    height: calc(100% - 50px);
    background-color: #f6f6f6;
    padding: 25px;
}

.admin-content p {
    color: #999999;
    font-size: 0.73em;
}

.admin-box {
    margin-top: 15px;
}

.profile-link {
    text-decoration: none;
}

.admin-box .admin-box-top {
    color: #fff;
    text-shadow: 0px 0px 1px #000;
    background-color: #2980b9;
    padding: 5px;
    padding-left: 15px;
    font-weight: 300;
    font-size: 20px;
}

.admin-box .admin-box-top:hover {
    background: darkred;
    transition: 0.2s;
}

.admin-box .admin-box-panel {
    padding: 15px;
    background-color: #fff;
    color: #645f61;
    word-wrap: break-word;
}

.admin-box-panel-write {
    margin-right: 50px;
}

.admin-box .view-doc {
    width: 20px;
    height: 20px;
    background-color: rgb(119, 183, 255);
    margin-left: auto;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}


.admin-box .check-doc {
    width: 20px;
    height: 20px;
    background-color: lawngreen;
    margin-left: 4px;
    margin-right: 0;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.admin-box .refuse-doc {
    width: 20px;
    height: 20px;
    background-color: red;
    margin-left: 4px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.closebtn {
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    font-size: 30px;
    cursor: pointer;
    margin-left: 120px;
    padding: 7px;
    margin-top: -10px;
}

.closebtn:hover {
    background-color: #352D2D;
    color: white;
}

.closebtn.selected {
    background-color: #2E343E;
    color: #fb2525;
}

.actionbtn {
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
    text-decoration:none;
    text-shadow: 1px 1px black;
}

#admin-btn {
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color:#007dc1;
    border:1px solid #124d77;
}

#admin-btn:hover {
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}

#ban-btn {
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color:#d0451b;
    border: 1px solid black;
}

#ban-btn:hover {
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}

#unban-btn {
    background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
}

#unban-btn:hover {
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}

@media only screen and (max-width: 767px) {
    

    .search-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #admin-nav li a {
        padding: 8px;
        font-size: 15px;
    }

    .admin-content {
        float: none;
        height: auto;
        width: auto;
        z-index: 2;
    }
}















