#math-assistant {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    align-content: center;
}

.math-assistant-content {
    background-color: #ad75cf;
    position: absolute;
    height: 470px;
    width: 540px;
    margin: -235px 0 0 -270px;
    top: 50%;
    left: 50%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.math-assistant-content input {
    height: 35px;
    width: 35px;
    background-color: #ffc2e2;
}

.math-assistant-content input:hover {
    background-color: #ca96c7;
}

.assistant-close {
    color: #ffc2e2;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    margin-left: 340px;
}

.assistant-close:hover,
.assistant-close:focus {
    color: #ca96c7;
    text-decoration: none;
    cursor: pointer;
}

