body {
    height: 100vh;
}

.nav-container {
    height: 10%;
}

.content-container {
    display: flex;
    height: calc(90% - 70px);
    margin: 0px 5%;
}

#profile-information {
    background: #efefef;
    height: 100%;
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#profile-information img {
    margin: 10px auto;
    max-width: 100%;
    width: 190px;
    max-height: 100%;
    height: 190px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.modal-close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.profile-choose-button {
    height: 27px;
    padding: 5px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 15px;
    background-color: #000000;
    border: solid rgb(36, 36, 36) 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.profile-choose-button:hover {
    background: rgb(167, 167, 167);
    border: solid #2E343E 1px;
    border-radius: 2px;
    text-decoration: none;
}

.profile-upload-button {
    height: 27px;
    padding: 5px;
    margin-top: 10%;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 15px;
    background-color: #000000;
    border: solid rgb(36, 36, 36) 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.profile-upload-button:hover {
    background: rgb(167, 167, 167);
    border: solid #2E343E 1px;
    border-radius: 2px;
    text-decoration: none;
}

#profile-information .user-name {
    background-image: -webkit-linear-gradient(top, #e8e8e8 0, #f5f5f5 100%);
    text-align: center;
    border: 1px solid #e3e3e3;
}

#profile-information .user-info {
    text-align: center;
    background: white;
    border: 2px solid black;
}

#delete-user-button {
    margin-top: auto;
    text-align: center;
    background: red;
}

#delete-user-button:hover {
    background: darkred;
}

#publications-list {
    width: 100%;
    margin-left: 10px;
}

.publication {
    background: #efefef;
    margin-bottom: 10px;
}

.publication p {
    padding: 10px;
    margin: 0;
}

.publication-title {
    text-decoration: none;
}

.publication-title:hover {
    text-decoration: underline;
}

.publication-title h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    margin: 0;
    background: rgba(0,0,0,0.2);
}

.pages a {
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    background: black;
    color: white;
}

.pages a:hover {
    background: rgb(167, 167, 167);
}

@media only screen and (max-width: 768px) {

    .nav-container {
        height: auto;
    }

    .content-container {
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0;
    }

    #profile-information {
        height: auto;
        width: 100%;
    }

    .button-regular {
        margin: 0;
        height: 40px;
    }

    #delete-user-button {
        margin: 0;
    }

    .modal-content {
        width: 100%;
    }

    #publications-list {
        margin: 0;
    }

    .publication {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .publication p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pages {
        text-align: center;
    }
}